html,
body,
#root {
  height: 100%;
}

b {
  color: #920606;
}

.active{
  box-shadow: 0 0 0 5px gold
}

#selectSort {
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  height: 34px;
  outline: none;
}

.search-input{
  padding: 9px;
  outline: none;
  border-radius: 20px;
  border-color: gold;
  font-size: 16px;
}

.App {
  text-align: center;
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255) 0%,
    rgba(255, 106, 0, 1) 100%
  );
  padding-bottom: 200px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  margin: 0 0 30px 0;
  background-color: coral;
  flex-wrap: wrap;
}

.navbar label{
  margin-right: 10px;
}

.navbar li {
  margin: 0 25px;
  list-style: none;
  padding: 15px;
}

.navbar li:hover {
  cursor: pointer;
}

/* Content grid */
.content_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 350px));
  grid-gap: 1rem;
  justify-content: center;
  min-height: 340px;
}

.content_grid-item {
  background: #fff;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.content_grid-item .name {
  font-size: 24px;
  margin-bottom: 15px;
}

.content_grid-item .info {
  text-align: left;
}

.content_grid-item .info div {
  margin: 10px;
}

.content_grid-item:hover {
  cursor: pointer;
  background-color: #ffef9b;
}

.content_grid-item:active {
  background-color: rgb(248, 233, 148);
}

/* Description */
#description {
  margin: 40px auto 0;
  max-width: 60%;
  font-size: 20px;
  left: 0;
  right: 0;
  padding: 20px 10%;
  background: rgb(248, 233, 148);
  position: fixed;
  bottom: 0;
  color: #920606;
  border-radius: 0.5rem;
}
